<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.2.1/rxjs.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js"/></script>
<script src="https://unpkg.com/@angular/core@7.2.0/bundles/core.umd.js"/></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.min.js"></script>
<script src="https://unpkg.com/@angular/common@7.2.0/bundles/common.umd.js"></script>
<script src="https://unpkg.com/@angular/common@7.2.0/bundles/common-http.umd.js"></script>
<script src="https://unpkg.com/@angular/compiler@7.2.0/bundles/compiler.umd.js"></script>
<script src="https://unpkg.com/@angular/router@7.2.0/bundles/router.umd.js"></script>
<script src="https://unpkg.com/@angular/platform-browser@7.2.0/bundles/platform-browser.umd.js"></script>
<script src="https://unpkg.com/@angular/platform-browser-dynamic@7.2.0/bundles/platform-browser-dynamic.umd.js"></script>
<base href="/">
<my-app></my-app>
<script type="typescript">
const { Component, NgModule, VERSION, OnInit } = ng.core;
const { BrowserModule } = ng.platformBrowser;
const { CommonModule } = ng.common;

class GenericCollection<T> {
  private list: T[] = [];
  pushItem(thing:T) {
    this.list.push(thing);
  }
}

interface Dinosaur {
  name: string;
  breed: string;
  teeth: number;
}

@Component({
  selector: 'my-app',
  template: `
    <p>My strings</p>
    <ul>
      <li *ngFor="let string of myListOfStrings; let i=index">{{string}}</li>
    </ul>

    <p>My dinosaurs</p>
    <ul>
      <li *ngFor="let dino of myListOfDinosaurs; let i=index">{{dino.name}} is a {{dino.breed}} and has {{dino.teeth}} teeth.</li>
    </ul>
  `
})
class AppComponent implements OnInit {
  myListOfStrings = new GenericCollection<string>();
  myListOfDinosaurs = new GenericCollection<Dinosaur>();

  constructor() {}

  ngOnInit() {
    this.myListOfStrings.pushItem('booop');
    this.myListOfStrings.pushItem('TA DA');
    this.myListOfStrings.pushItem(5);
    //error Argument type of '5' is not assignable to parameter of type 'string'

    let dinoA = {
      name: 'Blue',
      breed: 'Velociraptor',
      teeth: 100
    }

    let dinoB = {
      name: 'Killorex',
      breed: 'Tyranasuarus Rex',
      teeth: 95
    }
    this.myListOfDinosaurs.pushItem(dinoA);
    this.myListOfDinosaurs.pushItem(dinoB);
    this.myListOfDinosaurs.pushItem({name: 'Charlie'});
    //error Argument type '{ name: string; }' is not assignable to parameter of type 'Dinosaur'.
  }

}

@NgModule({
  declarations: [AppComponent],
  imports: [
    BrowserModule,
    CommonModule
  ],
  bootstrap: [AppComponent],
  providers: []
})
class AppModule {}

const { platformBrowserDynamic } = ng.platformBrowserDynamic;

platformBrowserDynamic()
  .bootstrapModule(AppModule)
  .catch(err => console.error(err));
</script>

