<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.2.1/rxjs.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js"/></script>
<script src="https://unpkg.com/@angular/core@7.2.0/bundles/core.umd.js"/></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.min.js"></script>
<script src="https://unpkg.com/@angular/common@7.2.0/bundles/common.umd.js"></script>
<script src="https://unpkg.com/@angular/compiler@7.2.0/bundles/compiler.umd.js"></script>
<script src="https://unpkg.com/@angular/router@7.2.0/bundles/router.umd.js"></script>
<script src="https://unpkg.com/@angular/platform-browser@7.2.0/bundles/platform-browser.umd.js"></script>
<script src="https://unpkg.com/@angular/platform-browser-dynamic@7.2.0/bundles/platform-browser-dynamic.umd.js"></script>
<script src="https://unpkg.com/@angular/forms@7.2.0/bundles/forms.umd.js"></script>
<base href="/">
<my-app></my-app>
<script type="typescript">
const { Component, NgModule, VERSION, OnInit, OnDestroy, Injectable } = ng.core;
const { BrowserModule } = ng.platformBrowser;
const { CommonModule } = ng.common;
const { Observable, Subject } = rxjs;
const { takeUntil } = rxjs.operators;

@Injectable({
  providedIn: 'root'
})
class ObsService {
  constructor() {}

  getObs(): Observable<number> {
    return new Observable<number>(observer => {
      console.log('New subscription created');
      let count = 0;
      
      const interval = setInterval(() => {
        count++;
        console.log("incrementing", count); 
        observer.next(count);
      }, 1000);
    
      return () => {
        clearInterval(interval);
        console.log('unsubscribed');
      }
    })
  }
}

@Component({
  selector: 'my-app',
  template: `
    <destroy-component *ngIf="yayComponent"></destroy-component>
    <button (click)="removeComponent()" *ngIf="yayComponent">remove component</button>
    <p *ngIf="!yayComponent">I am a very sad empty component now</p>
  `
})
class AppComponent {
  yayComponent: boolean = true;
  
  constructor() {}

  removeComponent(): void {
    this.yayComponent = false;
  }
}

@Component({
  selector: 'destroy-component',
  template: `
    <p>This component will be destroyed. Rawr.</p>
    <button (click)="startObservable()">start observable</button>

    <p>{{ myDisplayValue }}</p>
    `
})
class DestroyComponent implements OnDestroy {
  private onDestroy$ = new Subject<void>();
  myDisplayValue: string;

  constructor(private obsService: ObsService) {}

  startObservable(): void {
    // subscribing to a service that emits observable values every second.
    this.obsService.getObs()
      .pipe(takeUntil(this.onDestroy$))
      .subscribe((val) => {
        console.log('new value', val);
        this.myDisplayValue = val;
      });
  }

  ngOnDestroy(): void {
    console.log('destroying component');
    this.onDestroy$.next();
    this.onDestroy$.complete();
  }
}

//THIS IS A HACK JUST FOR CODEPEN TO WORK
DestroyComponent.parameters = [ObsService]; 

@NgModule({
  declarations: [AppComponent, DestroyComponent],
  imports: [
    BrowserModule,
    CommonModule
  ],
  bootstrap: [AppComponent],
  providers: []
})
class AppModule {}

const { platformBrowserDynamic } = ng.platformBrowserDynamic;

platformBrowserDynamic()
  .bootstrapModule(AppModule)
  .catch(err => console.error(err));
</script>

