<div class="content">
	{{#unless hidesidebar}}
		{{> sidebar.mustache}}
	{{/unless}}
	<article class="main">
    <div class="main-content">
  		{{#unless hidetitle}}
  			{{> title.mustache}}
  		{{/unless}}

  		{{#unless hidedescription}}
  			{{#if description}}
  				{{> description.mustache}}
  			{{/if}}
  		{{/unless}}

  		{{#unless hideBody}}
  			{{#if signatures}}
  				{{#each signatures}}
  					{{> signature.mustache}}
  				{{/each}}
  			{{else}}
  				{{#types}}
  					{{> signature.mustache}}
  				{{/types}}
  			{{/if}}
  			{{#if body}}
  				{{> body.mustache}}
  			{{/if}}
  		{{/unless}}
    </div>

    {{#unless hidecontentnav}}
      <div class="sidebar-right">
        <div class="content-nav on-this-page-container">
          <h6>On this page...</h6>
          <div class="list-items" id="scroll-toc">
            <bit-toc heading-container-selector="article.main" scroll-selector="#scroll-toc"></bit-toc>
          </div>
        </div>
        <div class="pullout slack">
          <h6>Get help</h6>
          <p>If you need help with an exercise, please reach out to us on
             <a href="https://join.slack.com/t/bitovi-community/shared_invite/enQtNTIzMTE5NzYxMjA3LWMwMzE4MjFkMTI5ZmZjNzllYjc2MzcxOWNmOTg3YjI4NjE0MGFkZGNkOTNlZjlkNDBhNTlmYTcwMzJlZDZjY2Y">Slack</a></p>
             <!--<a href="https://join.slack.com/t/bitovi-community/shared_invite/enQtNTIzMTE5NzYxMjA3LWMwMzE4MjFkMTI5ZmZjNzllYjc2MzcxOWNmOTg3YjI4NjE0MGFkZGNkOTNlZjlkNDBhNTlmYTcwMzJlZDZjY2Y"><img src="https://i.ibb.co/XS6n24B/slack.png"/></a>-->
        </div>
        <div class="pullout bug">
          <p>If you find a bug, please
             <a href="https://github.com/bitovi/university/issues/new">create an issue</a> or email
             <a href="mailto:contact@bitovi.com?Subject=Training%20Suggestion" target="_blank">contact@bitovi.com<a/></p>
        </div>
      </div>
    {{/unless}}

	</article>
</div>
