<!DOCTYPE html>
{{{generatedWarning}}}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="UMCgjrWAjJW_tHmYo6AerdZvVdmh8QHdY9Ywb59tpHw" />
  <title>{{getTitle}}</title>
  {{#unless (siteConfig "devBuild")}}
  <link rel="stylesheet" type="text/css" href="{{pathToDest}}/static/bundles/bit-docs-site/static.css">
  {{/unless}}
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="https://www.bitovi.com/">Bitovi</a>
    </div>
    <ul>
      <li><a href="https://www.bitovi.com/services">Services</a></li>
      <li><a href="https://www.bitovi.com/client-work">Client Work</a></li>
      <li><a href="https://www.bitovi.com/about">Our Team</a></li>
      <li><a href="https://www.bitovi.com/open-source">Open Source</a></li>
      <li><a href="https://www.bitovi.com/blog">Blog</a></li>
      <li><a href="{{pathToDest}}" class="active">Academy</a></li>
     </ul>
     <a class="contact-popup hs-button brand button-smallest" href="https://www.bitovi.com/contact">Contact Us</a>
  </div>

  {{{content}}}


  <footer>{{> footer.mustache}}</footer>

  <div id="scripts">
    <script type="text/javascript">
      var docObject = {{{docObjectString}}};
    </script>

    {{#if (siteConfig "devBuild")}}
      <script type='text/javascript'
        data-main="bit-docs-site/static"
        src="{{pathToDest}}/static/node_modules/steal/steal.js"></script>
    {{else}}
      <script>
        steal = {
          instantiated: {
            "bundles/bit-docs-site/static.css!$css" : null
          }
        }
      </script>
      <script type='text/javascript'
          data-main="bit-docs-site/static"
          src="{{pathToDest}}/static/steal.production.js"></script>
    {{/if}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2302003-29"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2302003-29');
    </script>
  </div>
</body>
</html>
