/**
 * @parent bit-docs-generate-html/site/default/static
 * @module bit-docs-generate-html/site/default/static/styles/styles.less
 *
 * @description The primary styles for the default theme.
 *
 * @body
 *
 * The default `styles.less` is based on flexbox, and relies on two less files:
 *
 * - [bit-docs-generate-html/site/default/static/styles/variables.less]
 * - [bit-docs-generate-html/site/default/static/styles/mixins.less]
 *
 * The styles are very basic, and primarily focus on mobile and desktop layout.
 */

@import "locate://bit-docs-site/styles/variables.less";
@import "locate://bit-docs-site/styles/mixins.less";

/*
Mobile:
┌─────────────────────────────────┐
│ html ▶ box-sizing: border-box   ├ Everything border-box.
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ │
│ ┃ body ▶ margin: auto         ┣━━ Kill default margins.
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ header                  ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ .content                ┃ ┃ │
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .sidebar            ┃ ┃ ┃ │
│ ┃ ┃ ┃ ┏━━━━━━━━━━━━━━━━━┓ ┃ ┃ ┃ │
│ ┃ ┃ ┃ ┃ ul ▶ padding: 0 ┣━━━━━━━━ Make flush with parent.
│ ┃ ┃ ┃ ┗━━━━━━━━━━━━━━━━━┛ ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .main               ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ footer                  ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ │
└─────────────────────────────────┘
*/

// Everything inherits border-box sizing
// https://css-tricks.com/box-sizing
html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  margin: auto;
  font-family: @defaultFontFamily;
}

.container {
  #helper.padding(left right);
}

header, footer {
  &:extend(.container);
}

.content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  // Navigation list will be flush with parent

  .sidebar:extend(.container) {
    ul {
      padding: 0;

      li {
        list-style-type: none;

        li {
          #helper.padding(left; (@defaultPadding / 2));
        }

        .current>a {
          font-weight: bold;
        }
      }
    }
  }

  .main:extend(.container) {
    overflow-x: hidden; // fix to hide <pre> code overflow

    // Collapse <p> for parameters, returns, and non-nested options
    .parameters, .returns, div.options {
      margin-bottom: 1em;

      p:first-of-type {
        display: inline;

        & + * {
          margin-top: 1em;
        }
      }
    }
  }
}

/*
Desktop:
┌──────────────────────────────────────────────────────┐
│ html ▶ height: 100%                                  ├ Get window height.
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ │
│ ┃ body ▶ height: 100%,                             ┣━━ Use html/window height.
│ ┃        flex-direction: column                    ┣━━ Children are in column.
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ header ▶ flex: none                          ┣━━━━ Use content height.
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ .content ▶ flex: auto,                       ┣━━━━ Fill remaining height.
│ ┃ ┃            flex-direction: row               ┃ ┃ │ Children are in a row.
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .sidebar ▼         ┃ ┃ .main ▼           ┃ ┃ ┃ │
│ ┃ ┃ ┃ flex: none,        ┃ ┃ flex: auto        ┃ ┃ ┃ │
│ ┃ ┃ ┃ overflow-y: auto   ┃ ┃ overflow-y: auto  ┃ ┃ ┃ │
│ ┃ ┃ ┃                    ┃ ┃                   ┃ ┃ ┃ │
│ ┃ ┃ ┣ Use content width. ┃ ┣ Fill width.       ┃ ┃ ┃ │
│ ┃ ┃ ┣ Fill height.       ┃ ┣ Fill height.      ┃ ┃ ┃ │
│ ┃ ┃ ┣ Scroll vertical.   ┃ ┣ Scroll vertical.  ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ footer ▶ flex: none                          ┣━━━━ Use content height.
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ │
└──────────────────────────────────────────────────────┘
*/

@media @desktops {
  // Flex elements will fill html/body space and scroll themselves
  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    .flex-column;
  }

  header, footer {
    .flex-none; // fit to content height
  }

  .content {
    .flex-auto; // fill remaining height
    .flex-row;

    // Note: Don't add border, padding or margin to a flex-row or flex-column,
    // because IE 10-11 incorrectly assumes content-box sizing for flex-basis.

    .sidebar {
      .flex-none; // fit to content width
      overflow-y: auto;
    }

    .main {
      .flex-auto; // fill remaining width
      overflow-y: auto;
    }
  }
}

.codepen {
  border: solid 1px #dfdfdf;
  display: block;
  position: relative;
  text-align: center;
  top: -1.1rem;
  border-top: none;
  background-color: #dfdfdf;
  color: gray;
  padding: 3px;
  cursor: pointer;
  line-height: 18px;
}
article .codepen:before {
  content: "Run in your browser";
}

html {
  color: #404040;
  font: normal normal normal 1rem/1.6 Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-top: 4em;
}

@media (min-width: 700px) {
  body {
    font-size: 1.1rem;
  }
}

:not(pre)>code {
  padding: 3px 5px;
  border: none;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  font-weight: 400;
  font-size: 0.9em;
  color: #111;
  border-radius: 4px;
  background: rgba(0,0,0,.06);
}

blockquote {
  background: #f4f4f4;
  padding: 15px 30px;
  margin: 15px 0;
  position: relative;
  border-left: 15px solid #ccc;
  border-right: 2px solid #ccc;
}

article details {
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  border-radius: 1px;
  padding: 1em 1em .5em 1em;
}
article details[open] summary {
  margin-bottom: .5em;
}
article summary {
  font-weight: 700;
  margin: -.5em -.5em 0;
  padding: .5em;
  cursor: pointer;
}

// Theme Styles

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body {
  color: #3E4548;
  font-family: 'Lato', sans-serif;
}

a {
  color: #356FD1;
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
  .logo {
    a {
      display: block;
      background: url('../img/bitovi-logo-x2.png') 15px 7px no-repeat;
      background-size: 108px 33px;
      text-indent: -9999px;
      width: 138px;
      height: 54px;
      margin-right: 140px;
      @media (max-width: 900px) {
        margin-right: 40px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      float: left;
      a {
        color: #3E4548;
        font-size: 12px;
        line-height: 27px;
        margin-right: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 0 5px;
        text-transform: uppercase;
        text-decoration: none;
        &.active {
          border-bottom: 4px solid #CB3036;
          color: #1B1E20;
        }
      }
    }
  }
  .hs-button {
      cursor: pointer;
      position: absolute;
      right: 20px;
      font-family: Lato, Arial, sans-serif;
      font-weight: bold;
      text-decoration: none !important;
      display: inline-block;
      border-radius: 3px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      @media (max-width: 800px) {
        display: none;
      }
    }
  .hs-button.button-smallest {
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 10px;
  }
  .hs-button.brand {
    background-color: #CB3036;
    border-color: #CB3036;
    color: #ffffff;
  }
  .hs-button.brand:hover {
    background-color: #E13235;
    border-color: #E13235;
  }
}

// Homepage

// .main {
//   width: 100% !important;
// }

.hero-banner {
  background: url('../img/training-banner.jpg') no-repeat top center;
  background-size: cover;
  background-color: #000;
  padding: 60px;
  h1 {
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    line-height: 1.1;
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 15px auto;
  }
  h2 {
    color: #fff;
    font-size: 18px !important;
    font-weight: normal;
    line-height: 1.6;
    width: 800px;
    text-align: center;
    margin: 15px auto !important;
  }
}

.academy-intro {
  margin-bottom: 30px;
  text-align: center;
  h3 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
  }
}

.courses-intro {
  text-align: center;
  margin: 0 30px 45px 0;
  padding-top: 30px;
  border-top: 1px solid #eee;
  h4 {
    font-size: 31px;
    font-weight: 300;
    margin: 0;
  }
}

.courses-container {
  margin: 30px;
  .courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .course {
      > a {
        text-decoration: none;
        color: #3e4548;
      }
      width: 300px;
      text-align: center;
      margin: 0 auto 30px auto;
      padding: 15px;
      border: 1px solid #eee;
      &:hover {
        border: 1px solid #CCC;
      }
      .course-logo {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h5 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
      }
      p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
}

// Sidebar Left

.sidebar-left {
  // padding: 30px;
  padding: 30px 15px 15px 15px;
  white-space: nowrap;
  overflow-y: auto;
  flex-shrink: 0;
  @media (max-width: 768px) {
    padding-bottom: 0;
  }
  ul {
    list-style: none;
    // margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    // width: 100%;
    li {
      margin: 0;
      padding: 0;
      a {
        font-size: 14px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
        padding: 5px 10px;
        padding-bottom: 15px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  ul li ul {
    margin-left: 15px;
  }
  a {
    font-size: 14px;
    text-decoration: none;
  }
}
.sidebar-left ul li ul a {
  border: none;
  font-weight: normal;
  margin: 0;
  padding: 5px 10px;
}
.sidebar-left > ul > li.expanded {
  display: block;
}
.sidebar-left > ul > li {
  display: none;
}
.sidebar-left .border {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.sidebar-left ul li ul .current a {
  font-weight: bold;
}

// Course Content

.main {
  padding: 30px 30px;
  @media (max-width: 768px) {
    padding-top: 0;
  }
}
.main-content {
  padding-right: 250px;
  @media (max-width: 1200px) {
    padding-right: 0;
  }
}
.main-content .title h1 {
  font-size: 28px;
  margin-bottom: 30px;
  code {
    font-size: .6em;
  }
}
.main-content .description p {
  margin-bottom: 15px;
  line-height: 1.8;
}
.main-content .bold {
  font-weight: bold;
}
.main-content .body h2 {
  font-size: 24px;
  margin-top: 2em;
}
.main-content .body ul {
  margin-left: 45px;
}
.main-content .body ul li {
  margin-bottom: 15px;
  list-style-type: disc;
}

// Utility

hr {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 30px 0;
}
hr:first-of-type {
  border: none;
  height: 1px;
  background-color: #eee;
  margin-top: 30px;
}

// Sidebar Right

.sidebar-right {
  position: fixed;
  top: 85px;
  right: 30px;
  bottom: 0px;
  width: 240px;
  margin-left: 30px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    display: none;
  }
}
.sidebar-right .content-nav {
  display: flex;
  flex-direction: column;
}
.content-nav .list-items {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidebar-right .pullout {
  border-bottom: 1px solid #eee;
  margin: 5px 0;
  padding: 15px 0 20px 0;
}
.sidebar-right .pullout p {
  font-size: 14px;
  margin: 0;
}
.sidebar-right .pullout h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.sidebar-right .bug p {
  color: #666;
}

// Sidebar Right: Content Navigation

.content-nav {
  border-bottom: 1px solid #eee;
  margin-top: 22px;
  padding-bottom: 15px;
}
.content-nav h6 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.content-nav ul {
  padding-inline-start: 20px;
  padding-right: 15px;
}
.content-nav > ul {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding-left: 10px;
}
.content-nav li {
  list-style: none;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-left: 3px solid #ccc;
  box-sizing: border-box;
  border-radius: 0;
  counter-increment: step-counter;
  margin: 0;
  padding: 0 0 20px 20px;
}
.content-nav a {
  padding: 0;
  text-decoration: none;
  &:visited {
    color: #333;
  }
}
.content-nav a.active {
  background-color: transparent;
  color: inherit;
}
.content-nav li:last-child {
  border-left: 3px solid transparent;
  padding-bottom: 0;
}
.content-nav li::before {
  border-radius: 50%;
  background-color: #ccc;
  color: #ccc;
  content: counter(step-counter);
  display: inline-block;
  float: left;
  height: 15px;
  line-height: 10px;
  margin-left: -29px;
  text-align: center;
  width: 15px;
}
.content-nav li a {
  display: block;
  overflow: hidden;
  padding-top: 0;
}
.content-nav li.active::before {
  background-color: #3163A4;
  color: #3163A4;
}
.content-nav li.completed {
  border-left: 3px solid #3163A4;
}
.content-nav li.completed::before {
  background-color: #3163A4;
  color: #3163A4;
}
.content-nav li.completed:last-child {
  border-left: 3px solid transparent;
}
