name: Verify/Build/Deploy

on:
  push:
    # ❌❌❌TEMP❌❌❌
    # branches: [main]
  pull_request:

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Install
        run: npm ci
      - name: depcheck
        run: npm run depcheck

      - name: Verify React Native Exercises
        run: |
          npm run lint:exercises

      - name: Verify React Native Content
        run: |
          npm run lint:content

      - name: Generate Exercises
        run: npm run generate

      - name: test
        run: npm run test

      - name: Build
        run: npm run build

      # main needs to deploy to github pages because images point to github.io
      - name: Deploy to GitHub Pages
      # ❌❌❌TEMP❌❌❌
      # if: ${{ github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./academy
          user_name: "Workflow"
          user_email: "workflow@github"

      - name: Deploy
        # ❌❌❌TEMP❌❌❌
        # if: ${{ github.ref == 'refs/heads/main' }}
        env:
          HUBSPOT_TOKEN: ${{ secrets.HUBSPOT_TOKEN }}
          HUBSPOT_CAMPAIGN_ID: ${{ secrets.HUBSPOT_CAMPAIGN_ID }}
        run: npm run deploy
